{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Trell</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="registerSignin">
        <button class="button register"><a href="{% url 'trell:register' %}" target="_blank" style="font-weight:bold; font-family:'Montserrat', sans-serif ; text-decoration: none; color: #E5E5E5;">Register</a></button>
        <span> | </span>
        <button class="button signin"><a href="{% url 'trell:register' %}" target="_blank" style="font-weight:bold; font-family:'Montserrat', sans-serif ; text-decoration: none; color: #E5E5E5;">Sign in</a></button> 
    </div>  
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Trell" style="border-radius: 25px; width: 126px;">
    </div>
    <div class="content">
        <h2 id="txt1">#1 Lifestyle Video App</h2><br>
        <h3 id="txt2"><img src="{% static 'img/flag.jpg' %}" alt="Flag" width="45px" height="25px"> Made in India</h3>
    </div>
    <div class="images">
        <span class="device"><img src="{% static 'img/tablet.png' %}" width="15%" alt="Tablet"></span>
        <span class="device"><img src="{% static 'img/smartphone.png' %}" width="45px" height="90px" alt="Smartphone"></span>
        <span class="device"><img src="{% static 'img/macbook.png' %}" width="20%" alt="Macbook"></span>
    </div>
    <div class=arrow>
        <button class="btn"><i class="fa fa-arrow-circle-down" style="font-size:36px;" onclick="openNav()"></i></button>
    </div>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <img src="{% static 'img/logo.jpg' %}" alt="Trell" style="border-radius: 25px; width: 100px;"><br>
        <p>Come, <i> Trell </i> the world your story with us</p><br>
        <p>we envisioned a world.<br>A world where people could share their most cherished eperiences</p><br>
        <p>Your childhood kulfi spots.<br>Your week long trips.<br>Your favourite maggi wale bhaiya.</p><br>
        <p>The colours, the cultures, the good and the bad of every place you've been to</p><br>
        <p>We envisioned a world that celebrates the explorer in you.</p><br>
        <p>So we built it.<br> we are Trell.</p><br>
        <p>Get to know us more<br>Write us support@trell.co.in</p>
      </div>
    </div>
<script>
function openNav() {
  document.getElementById("myNav").style.display = "block";
}
function closeNav() {
  document.getElementById("myNav").style.display = "none";
}
</script>
</body>
</html>
