{% load static %}
<!DOCTYPE html>

  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link href="{% static 'css/profile.css' %}" rel="stylesheet">
        <link href="{% static 'img/logo.png' %}" rel="icon">
        <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/solid.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      </head>

    <body>
      <div class="container">
        <!-- section 1 -->
        <div class="info">
          <div class="upload">
            <a class="back-to-dash" href="{% url 'trell:dashboard' %}">⇠ Dashboard</a>
            <i class="fas fa-upload fa-3x"></i>
            <a href=""> Upload Vlog</a>
          </div>
          <div class="bio">
            <p>
              Hi, I’m {{request.user}}. If you like fashion, food or photography, follow my vlogs to get your daily dose of the same!
            </p>
          </div>
          <div class="pfp">
            <img style="display: flex; width: 22.5vh; height: 22.5vh;" src="{% static 'img/profile_pic.png' %}">
            <p> @neha_m </p>
          </div>
        </div>

        <!-- section 2 -->
        <div class="buttons">
          <div class="filter">
            <button onclick="dropdownMenu()" class="dropbtn">Filter by ⇣</button>
            <div id="dropdown" class="dropdown-content">
              <a href="">Most Recent</a>
              <a href="">Most Liked</a>
              <a href="">Most Views</a>
            </div>
          </div>
          <script>
            // displays content filtering options
            function dropdownMenu() {
              document.getElementById("dropdown").classList.toggle("show");
            }
          </script>

          <div class="follow">
            <button type="button" href="">Follow</button>
          </div>
        </div>
        
        <!-- section 3 -->
        <!-- shows previews of user uploads -->
        <div class="cards">
          <div class="arrow arrow-left">
            <i class="fas fa-angle-double-left fa-3x"></i>
          </div>
          {% for trail in trails %}
          <div class="card">
            <h3 class="thumbnail" id="two{{forloop.counter}}">
              <img src="{{trail.image}}" width="100%" height="100%"/>
            </h3>
            <div class="like">
              <i class="fas fa-heart two"></i>
              <script>
                // clicking the like button adds/remove class "press2"
                $(function() {
                  $( "two{{forloop.counter}}" ).click(function() {
                    $( "two{{forloop.counter}}" ).toggleClass( "press2", 1000 );
                  });
                });
              </script>
            </div>
            <div class="caption">{{trail.title}}</div>
          </div>
          {% endfor %}
          <div class="arrow arrow-right">
            <i class="fas fa-angle-double-right fa-3x"></i>
          </div>
        </div>  

      </div>
    </body>
  </html>