{% load static %}
<!DOCTYPE html>

  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link href="{% static 'css/register.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/logo.png' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      </head>

    <body>
      <div class="bg">
        <div class="container">
          <!-- cover for sign up / sign in -->
          <div id="cover">
            <h1 class="sign-in">← Sign Up</h1>
            <a class="button sub1 sign-in" href="#">OR</a>
            <h1 class="sign-up">Sign In →</h1>
            <a class="button sub2 sign-up" href="#cover">OR</a>
          </div>
          
          <!-- sign up -->
          <div class="register">
            <h1>Create Account</h1>
            <span class="social-login"><img src="{% static 'img/facebook.svg' %}"></span>
            <span class="social-login"><img src="{% static 'img/google.svg' %}"></span>
            <form method="POST">
            {% csrf_token %}
              <div class="input-fields">
                <input type="text" style="width: 50px;" name="first_name" placeholder="First Name" class="input-field"><br>
                <input type="text" style="width: 50px;" name="last_name" placeholder="Last Name" class="input-field"><br>
              </div>
                <input type="email" placeholder="Email" name="email" class="input-field"><br>
                <input type="password" placeholder="Password" name="password" class="input-field"><br>
                <input class="submit-btn" type="submit" value="Sign up">
            </form>
          </div>

          <!-- sign in -->
          <div class="login">
            <h1>Welcome Back</h1>
            <span class="social-login"><img src="{% static 'img/facebook.svg' %}"></span>
            <span class="social-login"><img src="{% static 'img/google.svg' %}"></span>
            <form method="POST" action="{% url 'trell:login' %}">
            {% csrf_token %}
              <input type="email" placeholder="Email" name='email' class="input-field"><br>
              <input type="password" placeholder="Password" name='password' class="input-field"><br>
              <input type="submit" type="submit" value="Sign In" class="submit-btn">
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>